<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @candidate.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @candidate.age %>
</p>

<p>
  <strong>Title:</strong>
  <%= @candidate.title %>
</p>

<p>
  <strong>Youtube url:</strong>
  <%= @candidate.youtube_url %>
</p>

<%= link_to 'Edit', edit_admin_candidate_path(@candidate) %> |
<%= link_to 'Back', admin_candidates_path %>
